<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My AngularJS App</title>
    <script src="./node_modules/angular/angular.js"></script>
  </head>
  <body>
    <app ng-app="angular-app">
      <h5><br/><br/>this message will disappear when <em>app</em> component is correctly rendered<br/><br/><br/></h5>
    </app>
    <script src="./client/components/app.js"></script>
    <script src="./client/components/addTask.js"></script>
    <script src="./client/components/taskList.js"></script>
    <script src="./client/components/taskListEntry.js"></script>
  </body>
</html>
